/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    /* Thêm font chữ vào tất cả trang web vì có tính kế thừa */
}

/* ctrl + shift + l
alt + shift + -> */

/* 
1. vi tri
2. kich thuoc
3. mau sac
4. kieu dang
*/

#main {

}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;   
    right: 0;
}

#nav {
    display: inline-block;
} 

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    /* display: inline-block; Chuyển menu từ chiều dọc mặc định thành chiều ngang */
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
   color: #fff; 
   text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px; /* Chiều cao phần màu xanh khi bôi xanh cao bằng header */
    padding: 0 24px; /* Căn độ rộng của padding sao cho các nút trong menu cách đều nhau */
    display: block; /* Chuyển thành block để có thể cài đặt chiều ngang và chiều dọc */
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none; /* Khi di chuột vào mới hiện còn bình thường ko hiển thị */
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

.nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    padding: 0 16px;
    cursor: pointer; /* Chuyển con trỏ chuột thành hình bàn tay khi di chuyển chuột vào ô tìm kiếm */
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/WebTheBand/assets/img/slider/slider1.jpg') top center / cover no-repeat ;
}

#content {
    
}

#content .content-section {
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 60%;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4; 
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .member-item {
    float: left;
    width: calc(100%/3);
    text-align: center;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

#footer {

}
